@import "tailwindcss";

/* Ocultar barra de scroll globalmente en toda la aplicación */
* {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera y Edge */
}